


<div class="big-box-<%= message.user_id == current_user.id ? "1" : "2" %>">


<div id="message-<%= message.id %>" class="message-box-<%= message.user_id == current_user.id ? "1" : "2" %>">

   <small>
    <i><%= message.created_at.in_time_zone('London').strftime("%b %e at %l:%M %p") %></i><br>
    <strong><%= message.user == current_user ? "Me: " : "#{message.user.first_name}: " %></strong>

   </small>
    <%= message.content %>
</div>
</div>
