<style>
  body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://visionsandvoices.usc.edu/wp-content/uploads/2022/06/Homepage_Background_3000x1200.png');
    background-position: bottom;
    background-repeat: no-repeat;
  }
</style>

<body>
  <div class="container p-5 mb-5">
    <div class="row justify-content-center m-5">
      <div class= 'col-6 mask-custom p-5' >
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        <% if current_user.student == false %>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%# <%= f.input :email, required: true, autofocus: true %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
              <%# <%= f.input :password,
                          hint: "leave it blank if you don't want to change it",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%# <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :available,
                          required: true,
                          as: :radio_buttons,
                          label: "Are you available for calls?" %>
              <%= f.input :current_password,
                          placeholder: "Please enter your password to confirm changes",
                          required: true,
                          input_html: { autocomplete: "current-password" } %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Update", class: "btn form-btn" %>
            </div>
          <% end %>
        <% end %>
        <h5 class="py-3">Cancel my account</h5>
        <p>Do you wish to cancel your Devder account?</p>
        <%= link_to "Cancel my account", registration_path(resource_name), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "cancel-btn" %><br><br>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</body>
