<div class="container my-5">
  <h2 class="text-center">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    data: {turbo: false}) do |f| %>

    <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.input :first_name,
                    autofocus: true,
                    error: 'Your name is mandatory, please specify one',
                    required: true %>
      </div>
      <div class="col">
        <%= f.input :last_name,
                    error: 'Your name is mandatory, please specify one',
                    required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :age,
                  collection: 18..60,
                  prompt: "Select your age",
                  # selected: 21,
                  required: true %>
      </div>
      <div class="col">
        <%= f.input :location,
                    required: true %>
      </div>
    </div>
      <%= f.input :bio,
                  required: true %>
      <%= f.input :student,
                  required: true,
                  as: :radio_buttons %>
      <%= f.input :desired_role,
                  required: true %>
      <%= f.input :role %>
      <%= f.input :company_name %>
      <%= f.input :company_type %>
      <%= f.input :company_size %>
      <%= f.input :funding_stage %>
      <%= f.input :hq_location,
                  label: 'Heaquarter location' %>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-success" %>
    </div>
  <% end %>

  <div>
    <%= render "devise/shared/links" %>
  </div>
</div>
