<style>
  body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://visionsandvoices.usc.edu/wp-content/uploads/2022/06/Homepage_Background_3000x1200.png');
    background-position: bottom;
    /* object-fit:none; */
    background-repeat: no-repeat;
  }
  .mask-custom {
    backdrop-filter: blur(15px);
    background-color: rgba(255,255,255,.2);
    border-radius: 3em;
    border: 2px solid rgba(255,255,255,.1);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    min-height: 500px;
    min-width: 400px;
  }

  .form-inputs input {
    background-color: #ffffff;
    border-radius: 6px;
    color: black;
  }

  .form-actions {
    text-align: center;
  }

  .form-actions input {
    margin-top: 30px ;
    width: 99%;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight:bold;
  }

  .devise-link a {
    text-decoration:none;
    color:white;
    opacity: 70%;
  }

  .devise-link a:hover {
    text-decoration:none;
    color:black;
  }

</style>

<body >
<div class="container p-5 mb-5">
  <div class="row justify-content-center m-5">
    <div class= 'col-6 mask-custom px-5' >

      <h2 class="text-center mt-5">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
        data: {turbo: false}) do |f| %>
        <div data-controller="sign-up-form">
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :first_name,
                        autofocus: true,
                        required: true,
                        error: 'Your name is mandatory, please specify one' %>
            <%= f.input :last_name,
                        required: true,
                        error: 'Your name is mandatory, please specify one' %>
            <%= f.input :age,
                        collection: 18..60,
                        prompt: "Select your age",
                        # selected: 21,
                        required: true %>
            <%= f.input :address,
                        required: true %>
            <%= f.input :bio,
                        required: true %>
            <div data-action="change->sign-up-form#revealContent">
              <%= f.input :student,
                          required: true,
                          as: :radio_buttons %>
            </div>
            <div data-sign-up-form-target="student">
              <%= f.input :desired_role,
                          required: true %>
            </div>
            <div data-sign-up-form-target="professional" class="d-none">
              <%= f.input :role %>
              <%= f.input :company_name %>
              <%= f.input :company_type,
                          prompt: "Select the type of company you work for",
                          collection: ["Start-up", "Scale-up", "Enterprise"] %>
              <%= f.input :company_size %>
              <%= f.input :funding_stage,
                          prompt: "Select the company fundging stage",
                          collection: ["Pre-Seed", "Seed", "Series A", "Series B", "Series C", "Series D", "Post-IPO"]%>
              <%= f.input :hq_location,
                          label: 'Heaquarter location' %>
            </div>
          </div>

          <div class="form-actions btn-signup">
            <%= f.button :submit, "Sign up"%>
          </div>

        </div>
      <% end %>

      <div class="devise-link my-3">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
</body>
