<div class="container mt-1">
  <div class="row justify-content-center mx-0">
    <div class="col-md-8">

      <% if @active_chatroom %>

        <div id="chatroom_container" class="row text-light">


          <div id="side_panel" class="col-4 ">
            <h4 class="text-center my-3"> Direct Messages </h4>
            <div class="chatlist">
              <% @chatrooms.each do |chatroom| %>
                <% if current_user.student? %>
                <p class="<%= 'active' if chatroom == @active_chatroom %>"><%= link_to chatroom.professional.full_name, chatrooms_path(active: chatroom.id) %></p>
                <% else %>
                <p class="<%= 'active' if chatroom == @active_chatroom %>"><%= link_to chatroom.student.full_name, chatrooms_path(active: chatroom.id) %></p>
                <% end %>
              <% end %>
            </div>
          </div>

          <div id="room_container" class="row col-8 text-light mx-0">

            <div id="name_head">
              <% name = current_user.student? ? @active_chatroom.professional : @active_chatroom.student %>
              <h4 class="name text-center my-3"><%= link_to name.full_name, user_path(name.id) %></h4>
            </div>

            <div id="chatbox"
              data-controller="chatroom-subscription"
              data-chatroom-subscription-chatroom-id-value="<%= @active_chatroom.id %>">
                <div class="messages" data-chatroom-subscription-target="messages">
                  <% @active_chatroom.messages.each do |message| %>
                    <%= render partial: "messages/message", locals: { message: message } %>
                  <% end %>
                </div>
            </div>

            <div id="typebox">
              <%= simple_form_for [@active_chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" } } do |f| %>
                <div class="msg-inputs">
                  <%= f.input :content, label:false %>
                </div>
                <div class="msg-actions">
                  <%= f.button :submit, "Send", class: "form-btn" %>
                </div>
              <% end %>
            </div>

          </div>


        </div>
      <% else %>
      <p>You have no messages yet. </p>
      <% end %>
    </div>

    <% if current_user.student? %>
      <div class="col-md-4">
        <div class="row justify-content-end mt-5">
          <%=link_to "Request A Meeting", new_user_meeting_path(@active_chatroom.professional), class:"btn btn-purple" %>
        </div>
      </div>
    <% end %>


  </div>
</div>
