<h1 class="text-center">List of users:</h1>

<div class="m-3 p-3">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="filter">
        <h2 class="text-center my-3">Search</h2>
        <div class="search-bar">

          <%= form_tag users_path, method: :get do %>

            <div class="filter-content">
              <%= text_field_tag :query,
                params[:query],
                class: "form-control search-input",
                placeholder: "Search..." %>
            </div>

            <div class="filter-label">Company type:</div>

            <div class="filter-content">
              <%= select_tag :company_type,
                options_for_select((User.company_types), params[:company_type]),
              class: "form-control search-input",
                include_blank: "Select company type" %>
            </div>

            <div class="filter-label">Funding stage:</div>

            <div class="filter-content">
              <%= select_tag :funding_stage,
                options_for_select((User.funding_stages), params[:funding_stage]),
              class: "form-control search-input",
                include_blank: "Select funding stage" %>
            </div>

            <div class="filter-label">Gender:</div>

            <div class="filter-content">
              <%= radio_button_tag :gender, "male", params[:gender]%>
              <%= label_tag "gender_Male", "male" %>
              <%= radio_button_tag :gender, "female", params[:gender]%>
              <%= label_tag "gender_Female", "female" %>
            </div>

            <h1><%= @aaa %></h1>

            <div class="text-center">
              <%= submit_tag "Search", class: "btn-purple" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
    <div class="cards col-sm-12 col-md-8 col-lg-9">
    <% @users.each do |user| %>
      <% if !user.student %>
        <div class="card p-3">
          <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
            <% if user.image_url%>
          <%# <div class="card-image"> %>
              <%= image_tag user.image_url, class: "card-image" %>
          <%# </div> %>
            <% end %>
          <div class="card-body">
            <div class="border-bottom border-secondary">
            <h5 class="card-title text-center"><%= user.first_name %> <%= user.last_name %></h5>
            </div>
            <ul>
            <li><i class="fa-solid fa-building"></i>  <%= user.company_name %></li>
            <li><i class="fa-solid fa-laptop"></i>  <%= user.role %></li>
            </ul>
          </div>
          <%= link_to user_path(user), class:"text-decoration-none" do %>
            <div class="card-footer text-center btn-index">
              View profile
              <%# <small class="text-muted">Last updated 3 mins ago</small> %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <!--
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  -->
</div>
