<h1 class="text-center">List of users:</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-2">
      <div data-controller="filter">
        <h2 class="mb-3">Search</h2>
        <div class="search-bar">

          <%= form_tag users_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control search-input",
              placeholder: "Search..." %>

            <div class="filter-label">Company type:</div>

            <div class="filter-content">
              <%= select_tag :company_type,
                options_for_select((User.company_types), params[:company_type]),
                include_blank: "Select company type" %>
            </div>

            <div class="filter-label">Funding stage:</div>

            <div class="filter-content">
              <%= select_tag :funding_stage,
                options_for_select((User.funding_stages), params[:funding_stage]),
                include_blank: "Select funding stage" %>
            </div>

            <div class="filter-label">Gender:</div>

            <div class="filter-content">
              <%= radio_button_tag :gender, "male", params[:gender]%>
              <%= label_tag "gender_Male", "male" %>
              <%= radio_button_tag :gender, "female", params[:gender]%>
              <%= label_tag "gender_Female", "female" %>
            </div>

            <h1><%= @aaa %></h1>

            <%= submit_tag "Search", class: "btn btn-success" %>

          <% end %>
        </div>
      </div>
    </div>
    <div class="cards col-sm-12 col-md-8 col-lg-10">
    <% @users.each do |user| %>
      <div class="card">
        <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
        <% if user.image_url %>
          <%= image_tag user.image_url %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
          <ul>
          <li><strong>Email: </strong><%= user.email %></li>
          <li><strong>Company name: </strong><%= user.company_name %></li>
          <li><strong>Role: </strong><%= user.role %></li>
          <%= link_to user_path(user), class:"text-decoration-none btn  btn-success" do %>
          View profile
          <% end %>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
