<div class="profile-banner">
  <%= image_tag('gradient_use') %>
</div>

<div class="container">

  <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Me</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Meetings</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

      <div class="container profile-content">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-5">
            <div class="profile-name">
              <%= link_to edit_user_registration_path do %>
                <i class="fa-solid fa-pen-to-square icon-gray"></i>
              <% end %>
              <h1><%= current_user.first_name.upcase %></h1>
              <h1><%= current_user.last_name.upcase %></h1>
            </div>
            <div class="profile-basic">
              <div class="row align-middle">
                <div class="col-3">
                  <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="col-9">
                  <p><%= current_user.email %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-3">

                  <div class="col-9">
                    <% current_user.languages.each do |language| %>
                      <%= language.title %>
                      <%= render partial: "language_icons", locals: {language: language} %>
                    <% end %>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <i class="fa-solid fa-house"></i>
                </div>
                <div class="col-9">
                  <p><%= current_user.address %></p>
                </div>
              </div>
              <div class="row basic-role">
                <% if current_user.student %>
                  <h2><%= current_user.desired_role %></h2>
                <% else %>
                  <h2><%= current_user.role %></h2>
                <% end %>
              </div>
              <% if current_user.student == false %>
                <div class="row basic-company">
                  <h2><%= current_user.company_name %></h2>
                </div>
                <div class="row">
                  <div class="col-3">
                    <i class="fa-solid fa-arrow-up-right-dots"></i>
                  </div>
                  <div class="col-9">
                    <p><%= current_user.company_type %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <i class="fa-solid fa-sack-dollar"></i>
                  </div>
                  <div class="col-9">
                    <p><%= current_user.funding_stage %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div class="col-9">
                    <p><%= current_user.company_size %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <i class="fa-solid fa-building"></i>
                  </div>
                  <div class="col-9">
                    <p><%= current_user.hq_location %></p>
                  </div>
                </div>
              <% end %>
              <div class="row basic-company">
                <h2>Bio</h2>
              </div>
              <div class="row basic-company">
                <p><%= current_user.bio %></p>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="profile-image">
              <div>
                <%= cl_image_tag current_user.photo.key, height: 550, width: 550, crop: :fill %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- From Johan: For some reason, removing the divs below messes with the page structure, so I'm keeping it for now -->
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col-6 profile-info">
            <div class="row text-center">
            </div>
          </div>
        <div class="col"></div>
      </div>

    </div>

    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

      <div class="container my-profile">
        <div data-controller="meeting-movement">
          <%= render partial: "shared/meetings"%>
        </div>
      </div>

    </div>
  </div>

</div>
