<div class="profiles-show">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-4 profile-info">
        <div class="row">
          <h1><%= @user.first_name.upcase %></h1>
          <h1> <%= @user.last_name.upcase %></h1>
        </div>
        <div class="row">
          <h2><%= @user.role %></h3>
        </div>
        <div class="row my-3">
          <h3><%= @user.company_name %></h3>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <p><i class="fa-solid fa-arrow-up-right-dots"></i> <%= @user.company_type %></p>
          </div>
          <div class="col-6">
            <p><i class="fa-solid fa-sack-dollar"></i><%= @user.funding_stage %></p>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <p><i class="fa-solid fa-people-group"></i> <%= @user.company_size %></p>
          </div>
          <div class="col-6">
            <p><i class="fa-solid fa-location-dot"></i> <%= @user.address %></p>
          </div>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="image-container">
          <%= image_tag(@user.image_url) %>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
      </div>
      <div class="col-8">
        <h3>Bio</h3>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <p><%= @user.bio %></p>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <h3>Location</h3>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="map col-8 text-center">
        <div id="map" style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col text-center my-5">
        <div class="btn-purple"><%= "Message #{@user.first_name}" %></div>
        <%= render partial: "shared/chat_window" %>
      </div>
    </div>
  </div>
</div>

<div class="container review-cards">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8" id="reviews-section">
      <% if @user.reviews_as_professional.any? %>
        <h3>Check out what Devder users are saying about <%= @user.first_name %></h3>
      <% end %>
    </div>
    <div class="col">
    </div>
  </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-10">
        <div class="row">
          <% @user.reviews_as_professional.each do |review| %>
            <div class="col-5 mx-3 review-card">
              <div class="row">
                <div class="col-3">
                  <%= image_tag review.student.image_url %>
                </div>
                <div class="col"></div>
                <div class="col-7">
                  <% review.rating.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>
                  <% (5 - review.rating).times do %>
                    <i class="fa-regular fa-star"></i>
                  <% end %>
                  <p><em>"<%= review.content %>"</em></p>
                  <p class="review-author px-3"><strong><%= review.student.first_name %></strong><br>
                  Reviewed on <%= review.created_at.strftime("%d %B %Y ") %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
