<style>

.mask-window {
  backdrop-filter: blur(15px);
  background-color: rgba(255,255,255,.5);
  border-radius: 3em;
  border: 2px solid rgba(255,255,255,.1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  min-height: 200px;
  min-width: 300px;
}

</style>




      <div class="row justify-content-center">

          <div class="col-auto" >

            <button   type="button" class="btn-purple"  data-bs-toggle="modal" data-bs-target="#createchat">
              <%= "Message #{@user.first_name}" %>
            </button>

            <div class="modal fade" id="createchat" tabindex="-1" aria-labelledby="createchatLabel" aria-hidden="true">
              <div class="modal-dialog text-white">

                <div class="modal-content mask-window justify-content-center">
                      <div class="modal-header">
                        <h5 class="modal-title" id="createchatLabel"><%= "Chat with #{@user.first_name} " %></h5>
                      </div>


                    <div class="abc">

                      <div class="modal-body ">
                        <%= simple_form_for [@chatroom, @message] do |f| %>
                          <div class="form-inputs" >
                            <%= f.input :content, as: :text, label: false %>
                          </div>
                          <div class="form-actions mb-3">
                            <%= f.button :submit, "Send", class: "send-btn"%>
                          </div>
                        <% end %>
                      </div>

                    </div>

                </div>

              </div>
            </div>
          </div>

      </div>
