<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand mx-3" do %>
      <%= image_tag ('logo') %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  me-auto align-item-center">
        <% if user_signed_in? %>

          <li class="nav-item tabs">
           <%= link_to "Messages", chatrooms_path, class: "nav-professionals #{controller_name == "chatrooms" ? "current" : ""}" %>
          </li>

          <li class="nav-item tabs">
            <%= link_to "Professionals", users_path, class: "nav-professionals #{controller_name == "users" ? "current" : ""}" %>
          </li>

          <li class="nav-item dropdown ml-3">
            <%= image_tag current_user.image_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "My Profile", my_profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item tabs">
            <%= link_to "Professionals", users_path, class: "nav-professionals #{controller_name == "users" ? "current" : ""}" %>
          </li>
          <li class="nav-item tabs">
            <%= link_to "My favourites", users_path, class: "nav-professionals #{controller_name == "favourites" ? "current" : ""}" %>
          </li>
          <li class="nav-item m-3">
            <%= link_to "Login", new_user_session_path, class: "nav-login", data: {turbo: false} %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign-up", new_user_registration_path, class: "nav-sign-up", data: {turbo: false} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
