<div class="container my-5">
  <h2 class="text-center">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
      data: {turbo: false}) do |f| %>

      <div class="form-inputs">
        <div class="row">
          <div class="col">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>
          <div class="col">
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
          </div>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-success" %>
      </div>
    <% end %>

  <div>
    <%= render "devise/shared/links" %>
  </div>
</div>
